#!/usr/bin/env bash

function get_js() {
	mkkdir jslinks

	cat $1 | subjs >> jslinks/jslinks.txt
}

function wayback() {
	mkdir waybackdata

	gau $1 | sort -u | tee -a  waybackdata/wayback.txt 
	cat waybackdata/wayback.txt | unfurl -u keys >> waybackdata/paramlist.txt
	cat waybackdata/wayback.txt | grep -P "\w+\.js(\?|$)" | sort -u > waybackdata/jsurls.txt
	cat waybackdata/wayback.txt | grep -P "\w+\.php(\?|$)" | sort -u > waybackdata/phpurls.txt
	cat waybackdata/wayback.txt | grep -P "\w+\.aspx(\?|$)" | sort -u > waybackdata/aspxurls.txt
	cat waybackdata/wayback.txt | grep -P "\w+\.jsp(\?|$)" | sort -u > waybackdata/jspurls.txt
	
	find waybackdata/ -size 0 -delete
}
